
#placeholder {

  font-size: 16px;
  color: gray;
  font-family: 'Times New Roman', Times, serif;

}

#main {

  padding: 10px;
  margin-right: 40%;
  margin-left: 30%;
  width: 600px;
  border: solid black;
  border-color: gray;
  background: rgb(199, 215, 230);


}

#bg {
  background-image: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg") ;
  background-size: cover;
  height: 1000px;
  padding-top: 50px;
  border: solid black 2px;
}

p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
}